{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}

{% if primary %}
	<h2 class="visually-hidden">{{ 'Primary tabs'|t }}</h2>
	<ul class="menu menu--tabs menu--tabs--primary">{{ primary }}</ul>
{% elseif secondary %}
	<h2 class="visually-hidden">{{ 'Secondary tabs'|t }}</h2>
	<ul class="menu menu--tabs menu--tabs--secondary">{{ secondary }}</ul>
{% else %}
	<nav class='tabs' role='navigation' aria-label='{{ aria_label }}'>
		<h2 class="visually-hidden">{{ menu_name }}</h2>
		<ul class="menu menu--tabs">
			{% for item in items %}
				{% if item.is_active %}
					<li class='menu--tab is-active'>
						<a class='menu--tab__link is-active' href="{{ item.url }}" aria-current='page'>
							{{- item.text -}}
							<span class="visually-hidden">(active tab)</span>
						</a>
					</li>
				{% else %}
					<li class='menu--tab'>
						<a class='menu--tab__link' href="{{ item.url }}">
							{{- item.text -}}
						</a>
					</li>
				{% endif %}
			{% endfor %}
		</ul>
	</nav>
{% endif %}
