<div class="quote quote--{{ background_color }}">
  <div class="quote__inner">
    <img class="quote__bolt quote__bolt--left" src="{{ base_path ~ directory }}/{{ image_dir }}/icon-quote-yellow.svg" alt>
    <figure>
      <blockquote class="quote__text">
        {{ quote_text }}
      </blockquote>
      <figcaption class="quote__attribution">
        {{ quote_attribution }}
      </figcaption>
    </figure>
    <img class="quote__bolt quote__bolt--right" src="{{ base_path ~ directory }}/{{ image_dir }}/icon-quote-yellow.svg" alt>
  </div>
</div>
